*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header nav ul li{
    display: inline-flex;
    float: right;
    text-decoration: none;
    margin-right:50px;

}

.container{
    padding-bottom: 2rem;
}